@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F5F5F5;
}

/* HEADER */

header {
    background-color: #E87461;
}

#headerContent {
    padding: 15px;
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}

#imgContainer {
    width: 150px;
    height: 150px;
}

#imgContainer img {
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 1);
}

#headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    text-align: center;
}

#webDev {
    font-size: 0.8rem;
}

/* MAIN */
main {
    margin-bottom: 150px;
    padding: 15px;
}

main div {
    min-height: 100px;
    padding: 15px;
}

main h4, h5 {
    color: #62929E;
    text-align: center;
}

main h2 {
    color: #E87461;
    text-align: center;
}

main p {
    text-align: center;
}

main h4 {
    margin-top: 15px; 
}

main a {
    text-decoration: none;
    color: #62929E;
}

#lookingForWork p {
 margin: 10px 0;
}

#pTags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* max-width: 250px; */
    margin: auto;
}

#skills #pTags p {
    background-color: #E87461;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    color: #F5F5F5;
    font-weight: 600;
}

/* #skills img {
    width: 70px;
    margin: 5px;
} */

/* FOOTER */

footer {
    width: 100%;
    background-color: #E87461;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footerContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F5F5F5;
    padding: 15px;
}

footer div {
    display: flex;
}

footer img {
    width: 20px;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}





/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    /* background-color: #fefefe; */
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 40%; /* Could be more or less, depending on screen size */
  }

  .modal-content img {
    width: 100%;
    border-radius: 10%;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    padding: 20px;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@media (min-width:1025px) {

    main {
        max-width: 600px;
        margin: auto;
        margin-bottom: 100px;
    }

    #headerText {
        width: 300px;
    }

    #headerContent {
        max-width: 400px;
    }

    #footerContent {
        flex-direction: row;
        justify-content: space-between;
        max-width: 60%;
        margin: auto;
    }
}